<!--<div class="row">
  <div class="col-6"><app-first></app-first></div>
  <div class="col-6"><app-first></app-first></div>
</div>
<div class="row">
  <div class="col-md-3" [style.backgroundColor]="'yellow'">rrrr</div>
  <div class="col-md" [style.backgroundColor]="'red'">rrrr</div>
</div>
<div class="row">
  <div class="col-4" [style.backgroundColor]="'red'">rrrr</div>
  <div class="col" [style.backgroundColor]="'green'">rrrr</div>
</div>

<app-card></app-card>
<app-first [defaultcolor]="'pink'"></app-first>
<app-first [defaultcolor]="'blue'"></app-first>
<app-first></app-first>



<app-rainbow></app-rainbow>
<app-cv></app-cv>
<app-ngstyle></app-ngstyle>
-->


<app-todocomponent></app-todocomponent>
